.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(61, 51, 51, 0.774);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 300ms ease-in-out;
    z-index: 9999;
}

.btnContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    color: rgb(206, 208, 211);
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.icons:hover {
    color: rgb(255, 255, 255);
}