.sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7%;
    height: 100%;
    background-color: #2B2F4D;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
    justify-content: space-between;
}

.imgContainer {
    position: relative;
    width: 50px;
    height: 50px;
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    user-select: none;
}

.imgDot {
    position: absolute;
    width: 8px;
    height: 8px;
    border: 3px solid #2B2F4D;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #3DD063;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.icons {
    color: #696D81;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    ;
}

.icons:hover {
    color: #fff;
}